<!DOCTYPE html>
<html lang="">
<head>
    <title>Request Supercomputer Time</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 class="center-heading">Request Supercomputer Time</h1>
    <p>Submit your request for supercomputer processing time. You must have an active account
        and a funding source that is connected to your account number! Ensure you have attended
        the annual refresher training on data security or your request could be delayed.</p>
<br><br>
    <h2>Project Details</h2>
    <form>
        <label for="project">Project Name:</label>
        <input type="text" id="project" name="project"><br><br>

        <label for="description">Project Description:</label>
        <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

        <label for="resources">Funding Acct #:</label>
        <input type="text" id="resources" name="resources"><br><br>

        <input type="submit" value="Submit">
    </form>

    <h3>Back to Home</h3>
    <a href="/">Back to Home</a>

<div class="page-image">
        <img src="../static/images/image6.jpg" height="408" width="612" alt="Supercomputer">
</div>
</body>
</html>
